body{
    background-color: blueviolet;

  background-image: url("img/90e4824224b82a769281ae3502e92e6c.jpg");
  background-size: cover;       /* cobre toda a tela */
  background-position: center;  /* centraliza a imagem */
  background-repeat: no-repeat; /* não repete */
  height: 100vh;
}
    

div {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6); /* fundo escuro transparente */
  color: white; /* texto branco */
  border-radius: 10px;
  width: 300px;
  margin: 0 auto;   /* centraliza a caixa */
  text-align: center; /* mantém o conteúdo organizado */
}

h2{
    margin-top: 20px;
    text-align: center;
    color: #ffcc00;
}

li{
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #fff;
}

img{
    height: 100%;
    width: 100%;
}

.botao {
  position: fixed;
  top: 20px;
  left: 20px;

  background: linear-gradient(45deg, #bcd325, #beb91e);
  color: white;
  padding: 12px 18px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;

  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
}

@media (max-width: 600px) {
  .botao {
    top: auto;
    bottom: 20px;
    left: 20px;
  }
}
